<div class="side-nav">
    <ul>
        <li>
            <button>
                <span class="dot"></span>
            </button>
        </li>
        <li><i class="fa-solid fa-house"></i></li>
        <li><i class="fa-solid fa-chart-column"></i></li>
        <li>
            <i class="fa-solid fa-layer-group"></i>
        </li>
        <li><i class="fa-solid fa-clone"></i></li>
        <li><i class="fa-solid fa-chart-pie"></i></li>
        <li><i class="fa-solid fa-user-group"></i></li>
    </ul>
    <ul class="bottom-icons">
        <li><i class="fa-solid fa-bullseye"></i> </li>
        <li>
            <i class="fa-solid fa-gear"></i>
        </li>
        <li>
            <img src="../../../../assets/images/img1.png" alt="">
        </li>
    </ul>
</div>